/**
 *
 * Layout
 *
 */
#wrapper {
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient( circle, #00677a, #204060 );
  color: #FFF;

  .starter-template {
    padding-top: 50px;
  }
}
